#about,
#message,
#contact {
  padding: 20px;
  margin: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about h2,
#message h2,
#contact h2 {
  margin-top: 0;
}

#about p,
#message p,
#contact p {
  margin-bottom: 0;
}